{% macro render_field(field) %}
    <div>
        {% if field.type != "HiddenField" %}
            {{ field.label(class_="form-check-label") }}
        {% endif %}
      
        {% if "class_" in kwargs %}
            {% set class_ = kwargs.pop('class_') %}
        {% else %}
            {% set class_ = "form-control border" %}
        {% endif %}
      
        {% if "classaddon" in kwargs %}
            {# Use "classaddon" only if you want to extend the default class.
               Do not use "classaddon" with "class_" #}
            {% set class_ = class_ ~ ' ' ~ kwargs.pop('classaddon') %}
        {% endif %}
      
        {{ field(class_=class_, **kwargs)|safe }}
      
        {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endmacro %}