{% extends "template.html" %}

{% block title %} Editor {% endblock %}

{% block otherStyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
{% endblock %}

{% block otherScripts %}
<script src="{{ url_for('static', filename='editor.js') }}"></script>
<script>
window.onload = function(){
    document.getElementById('submitAnnotations').addEventListener("click", function(e){
        submitAnnotationsData().then(function(response) {
            if (response.redirected){ // Not very safe
                window.location.href = response.url;
            }
        });
    });
    document.getElementById("nextPage").addEventListener("click", function(e) {
        nextPage().then(function(response) {
            window.location.reload();
        });
    })
    document.getElementById("prevPage").addEventListener("click", function(e) {
        prevPage().then(function(response) {
            window.location.reload(); 
        });
    })
    // documents = [[documentName, [(pageID, pageNo, databaseName), ...]], ...]
    {% for i in range(documents|length) %}
        console.log("{{documents[i][0]}}");
        console.log("{{documents[i][1]}}");
        var pageNum = "{{pageNum}}";
        var canvasID = "page-{{documents[i][1][pageNum - 1][0]}}";
        var baseImageDir = "static/pages/{{documents[i][1][pageNum - 1][2]}}";
        prepareCanvas(canvasID, baseImageDir);
    {% endfor %}
}
</script>
{% endblock %}

{% block content %}

{% for i in range(documents|length) %}
    {% set pages = documents[i][1] %}
    {% set documentName = documents[i][0] %}
    {% for j in range(pages | length) %}
        {% set canvasID = "page-" + pages[j][0]|string %}
        {% set baseImageDir = "pages/" + pages[j][2] %}
        {% set curPage = pages[j][1] %}
        {% if curPage == pageNum %}
            <canvas id="{{canvasID}}" class="drawRectCanvas" width="10" height="10"></canvas>
            <p>Page {{pages[j][1]}} of {{documentName}}</p>
        {% endif %}
    {% endfor %}
{% endfor %}

<button id = "nextPage" type = "button">  Next Page </button>
<button id = "prevPage" type = "button"> Previous Page </button>
<button id="submitAnnotations" type="button"> Submit! </button>
<div id='debug'> </div>
{% endblock %}

