{% extends "template.html" %}

{% block title %} Editor {% endblock %}

{% block otherStyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='editor.css') }}">
{% endblock %}

{% block otherScripts %}
<script src="{{ url_for('static', filename='editor.js') }}"></script>
<script>
window.onload = function(){
    document.getElementById('submitAnnotations').addEventListener("click", function(e){
        submitAnnotationsData().then(function(response) {
            if (response.redirected){ // Not very safe
                window.location.href = response.url;
            }
        });
    });
    {% for i in range(documents|length) %}
        {% set pages = documents[i][1] %}
        {% for j in range(pages | length) %}
            {% set canvasID = "page-" + pages[j][0]|string %}
            {% set baseImageDir = "static/pages/" + pages[j][2] %}
            prepareCanvas({{canvasID|tojson}}, {{baseImageDir|tojson}});
        {% endfor %}
    {% endfor %}
}
</script>
{% endblock %}

{% block content %}
{% for i in range(documents|length) %}
    {% set pages = documents[i][1] %}
    {% set documentName = documents[i][0] %}
    {% for j in range(pages | length) %}
        {% set canvasID = "page-" + pages[j][0]|string %}
        {% set baseImageDir = "pages/" + pages[j][2] %}
        <canvas id="{{canvasID}}" class="drawRectCanvas" width="10" height="10"></canvas>
        <p>Page {{pages[j][1]}} of {{documentName}}</p>
    {% endfor %}
{% endfor %}
<button id="submitAnnotations" type="button"> Submit! </button>
<div id='debug'> </div>
{% endblock %}

