{% extends "template.html" %}

{% block title %} Manage {% endblock %}

{% block otherStyles %}
<link rel="stylesheet" href="{{ url_for('static', filename='manage.css') }}">
{% endblock %}

{% block otherScripts %}
<script src="{{ url_for('static', filename='redirects.js') }}"></script>
{% endblock %}

{% block content %}
<h2 class="ms-2 mt-2"> Problem Library </h2>
<div class="d-flex w-100 justify-content-center" id="problemPage">
    <div>
        <div class="accordion-item">
            <h2 class="w-100 accordion-header" id="incompleteHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIncomplete" aria-expanded="false" aria-controls="collapseIncomplete">
                    Incomplete / No Tagging
                </button>
            </h2>
            <div id="collapseIncomplete" class="accordion-collapse collapse" aria-labelledby="incompleteHeading">
                {% for document in uncompleted %}
                    <button type="button" class="accordion-body border-bottom btn btn-default btn-outline-light w-100" onclick="loadEdit({{document.id}})">
                        <div class="previewImageContainer">
                            <img class="border previewImage" src="static/pages/{{document.previewPageName}}" alt="previewImage.png" /> 
                        </div>
                        <div class="otherContent ps-2 pe-2">
                            <p class="text-dark"> {{document.name}} </p>
                            <p class="text-dark"> Extraction Progress: </p>
                            <div class="progress">
                                <div class="progress-bar percentageProgressBar" role="progressbar" style="width:{{document.percentageCompleted}}%;" aria-valuenow="{{document.percentageCompleted}}" aria-valuemin="0" aria-valuemax="100">
                                    {{document.percentageCompleted}}%
                                </div>
                            </div>
                        </div>
                    </button>
                {% endfor %}
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="w-100 accordion-header" id="completeHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseComplete" aria-expanded="false" aria-controls="collapseComplete">
                    Completed
                </button>
            </h2>
            <div id="collapseComplete" class="accordion-collapse collapse" aria-labelledby="completeHeading">
                {% for document in completed %}
                    <button type="button" class="accordion-body border-bottom btn btn-default btn-outline-light w-100" onclick="loadEdit({{document.id}});">
                        <div class="previewImageContainer">
                            <img class="border previewImage" src="static/pages/{{document.previewPageName}}" alt="previewImage.png" /> 
                        </div>
                        <div class="otherContent ps-2 pe-2">
                            <p class="text-dark"> {{document.name}} </p>
                        </div>
                    </button>
                {% endfor %}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}

