{% extends "template.html" %}
{% from "_macros.html" import render_field with context %}

{% block title %} Tag {% endblock %}

{% block otherScripts %}
<script src="{{ url_for('static', filename='redirects.js') }}"></script>
<script src="{{ url_for('static', filename='tag.js') }}"></script>
{% endblock %}

{% block content %}
{% set imageDir = "static/extracted/" + images[pageNum][1] %}
<div class="container">
    <img src="{{imageDir}}", id="image-{{images[pageNum][0]|string}}", alt="image-{{images[pageNum][0]|string}}.png">
    <p>Extracted Image {{pageNum + 1}}</p>

    <form method="POST" action="/saveTaggedData" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field(form.imageType, class_="form-select") }}
        {{ render_field(form.subject) }}
        {{ render_field(form.topic) }}
        {{ render_field(form.year) }}
        {{ render_field(form.paper) }}
        {{ render_field(form.questionNo) }}
        {{ render_field(form.questionPart) }}
        {{ render_field(form.questionDocument, class_="form-select") }}
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>  
<form method="POST" action="/nextImage">
    <button type="submit" id="nextImage" class="btn btn-primary mt-2 float-end me-2"> Next </button>
</form>
<form method="POST" action="/prevImage">
    <button type="submit" id="prevImage" class="btn btn-primary mt-2 float-end me-2"> Previous </button>
</form>
<button type="button" id="backEdit" class="btn btn-primary mt-2 float-end me-2" onclick="loadEdit({{documentID}})"> Back to Edit </button>
{% endblock %}

