 {% extends "template.html" %}
{% from "_macros.html" import render_field with context %}

{% block title %} Tag {% endblock %}

{% block otherScripts %}
<script src="{{ url_for('static', filename='redirects.js') }}"></script>
<script src="{{ url_for('static', filename='tag.js') }}"></script>
<script>
var allTitles = {};
{% for documentID in allPaperTitles %}
    allTitles[{{ documentID }}] = {{ allPaperTitles[documentID]|safe }};
{% endfor %}
 window.onload = function(){
     setUpImageTypeSelect();
     var qnDocSelect = document.getElementById('tag-questionDoc');
     var selectedDoc = parseInt(qnDocSelect.value);
     setUpPaperSelect(allTitles[selectedDoc]);
     qnDocSelect.addEventListener('change', function(e){
         var qnDocSelect = document.getElementById('tag-questionDoc');
         setUpPaperSelect(allTitles[parseInt(qnDocSelect.value)]);
     });
 };
</script>
{% endblock %}

{% block content %}
{% set imageDir = "static/extracted/" + images[pageNum][1] %}
<div class="container">
    <img src="{{imageDir}}", id="image-{{images[pageNum][0]|string}}", alt="image-{{images[pageNum][0]|string}}.png">
    <p>Extracted Image {{pageNum + 1}}</p>

    <form method="POST" action="/tag" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field(form.imageType, class_="form-select") }}
        {{ render_field(form.subject, classaddon="question") }}
        {{ render_field(form.topic, classaddon="question") }}
        {{ render_field(form.year, classaddon="question") }}
        {{ render_field(form.paper, classaddon="question") }}
        {{ render_field(form.answer, classaddon="answer") }}
        {{ render_field(form.questionDocument, class_="form-select answer") }}
        {{ render_field(form.paperSelect, class_="form-select answer") }}
        {{ render_field(form.questionNo) }}
        {{ render_field(form.questionPart) }}
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>
</div>  
<form method="POST" action="/nextImage">
    <button type="submit" id="nextImage" class="btn btn-primary mt-2 float-end me-2"> Next </button>
</form>
<form method="POST" action="/prevImage">
    <button type="submit" id="prevImage" class="btn btn-primary mt-2 float-end me-2"> Previous </button>
</form>
<button type="button" id="backEdit" class="btn btn-primary mt-2 float-end me-2" onclick="loadEdit({{documentID}})"> Back to Edit </button>
{% endblock %}

